@model GdzieIzKim.Models.Lokalizacja

@{
    ViewBag.Title = "Details";
}

<h2>Lokalizacje</h2>

<div>
    <h4>Lokalizacja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zkim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zkim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.LokalizacjaId }) |
    @Html.ActionLink("Powrót do listy lokalizacji", "Index")
</p>
