@model IEnumerable<GdzieIzKim.Models.Lokalizacja>

@{
    ViewBag.Title = "Index";
}

<h2>Lista lokalizacji</h2>

<p>
    @Html.ActionLink("Utwórz nową", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zkim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zkim)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.LokalizacjaId }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.LokalizacjaId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.LokalizacjaId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Powrót", "AdminPanel", "Home")
</p>
