@model GdzieIzKim.Models.Kategoria

@{
    ViewBag.Title = "Details";
}

<h2>Kategorie</h2>

<div>
    <h4>Kategoria</h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaKat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaKat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpisKat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisKat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.KategoriaId }) |
    @Html.ActionLink("Podrót do listy kategorii", "Index")
</p>
