@model IEnumerable<GdzieIzKim.Models.Kategoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NazwaKat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpisKat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaKat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpisKat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KategoriaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KategoriaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KategoriaId })
        </td>
    </tr>
}

</table>
