@model IEnumerable<GdzieIzKim.Models.Kategoria>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Kategorii</h2>

<p>
    @Html.ActionLink("Utwórz nową", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NazwaKat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpisKat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaKat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisKat)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.KategoriaId }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.KategoriaId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.KategoriaId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Powrót", "AdminPanel", "Home")
</p>
